{% extends "base.html" %}
{% block title %} FulCrum : Contact us {% endblock %}
{% block content %}
<section class="contact-us-container">
    <div class="left-side">
        <img src="/static/images/contact-us.png" alt="Contact Us Illustration" width="100%" height="100%">
    </div>
    <form action=" /contact-us">
        <textarea type="text"
            placeholder="Enter the message you want to convey to us. It may be like complain, issue, problem, suggestion, bugs,etc. Please avoid spamming!!!!!!"></textarea>
        <button type="submit">Raise Issue</button>
    </form>
</section>
{% endblock %}