{% extends "base.html" %}
{% block title %} FulCrum : Create an account {% endblock %}
{% block content %}
<section class="sigin-container">
    <div class="left-side">
        <img src="/static/images/create-account.png" alt="Create Account Illustration" height="100%" width="100%">
    </div>
    <form action="/create-account" method="POST">
        <input type="email" placeholder="Enter email" name="email">
        <input type="submit" value="Create Account">
    </form>
</section>

{{ message }}
{% endblock %}