<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fulcrum : A place to criticize academics</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/style.css">

</head>

<body>
    <header>
        <div id="logo">
            Ful Crum
        </div>
        <nav>
            <ul>
                <li>
                    <a href="#">Raise Issue</a>
                </li>
                <li>
                    <a href="#">Blogs</a>
                </li>
                <li>
                    <a href="#">Contact Us</a>
                </li>
                <li>
                    <a href="#" class="auth-btn">Create an Account</a>
                </li>
                <li>
                    <a href="#" class="auth-btn">Login</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section  class="raise-issue-container>
            <h2>Be aware of your power!</h2>
            <form action="/raise-issue">
                <textarea type="text" placeholder="Enter you issue regarding academics."></textarea>
            </form>
        </section>
    </main>
    <footer>

    </footer>
</body>

</html>