{% extends "base.html" %}
{% block title %} FulCrum : Place to criticize {% endblock %}
{% block content %}
<article class="blogs-intro">
    <video src="/static/images/blog-discussions.mp4" muted autoplay width="90%"></video>
    <h1 class="main-heading">Blogs</h1>
    <p class="sub-heading">A collection of articles and insights on academic criticism, educational reform, and
        empowering voices within the academic community.</p>
</article>
<section class="blogs-container">
    {% for blog in blogs %}

    <div class="blog">
        <h3 class="blog-title">{{ blog.title}}</h3>
        <p> {{blog.description}}</p>
    </div>
    {% endfor %}
</section>
{% endblock %}