{% extends "base.html" %}
{% block title %} FulCrum : Place to criticize {% endblock %}
{% block content %}
<section class="raise-issue-container">
    <div class="left-side">
        <img src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?auto=format&fit=crop&w=1200&q=80" alt="Students collaborating in a modern dark workspace" height="100%" width="100%">
    </div>
    <form id="raise-issue">
        <h2>Be aware of your power!</h2>
        <textarea type="text" placeholder="Enter you issue regarding academics." id="issue"></textarea>
        <button type="submit">Raise Issue</button>
    </form>
</section>
<script src="/static/scripts/raise-issue.js"></script>

{% endblock %}