{% extends "base.html" %}

{% block title %} FulCrum : Place to criticize {% endblock %} 

{% block content %}
<section class="sigin-container">
  <div class="left-side">
    <img
      src="/static/images/verify.png"
      alt="Create Account Illustration"
      height="100%"
      width="100%"
    />
  </div>
  <form method="POST" id="otp-form">
    <input type="number" placeholder="Enter otp" name="otp" />
    <input type="text" placeholder="Enter your name" name="username" />
    <input
      type="number"
      placeholder="Enter year in which are studying."
      name="current_study_year"
    />
    <input type="number" placeholder="Enter your hostel no" name="hostel_no" />
    <input type="text" placeholder="Enter your clubs" name="clubs" />
    <input type="password" placeholder="Enter password" name="password" />
    <input type="submit" value="Create Account" />
  </form>
</section>

<script src="/static/scripts/verify-otp.js"></script>
{% endblock %}
